.hide_me {
    display: none;
}


.weather_box_cover .list_box li {
    color: #fff;
    font-size: 30px;
    flex-grow: 1;
    padding: 0 11px;
}

.weather_box_cover {
    margin-bottom: 35px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.weather_box_cover .list_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weather_box_cover .list_box li span {
    display: block;
    font-size: 14px;
    color: #b7b7b7;
}

.weather_box_cover .list_box li .box img {
    max-width: 75px;
    height: 55px;
}

.img-res {
    max-width: 100%;
}

.header_area .navbar-brand {
    max-width: 188px;
}

.city_box_cover {
    margin-bottom: 20px;
}

.city_box_cover h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.city_box_cover i {
    color: #16aff6;
    margin-right: 8px;
    font-size: 22px;
}

.mrbing_box {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}

.seven_box .img_box {
    display: block;
    max-width: 40px;
}

.seven_box ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.seven_box ul li {
    background-color: rgba(250, 250, 250, 0.06);
    padding: 4px 8px;
    border-radius: 5px;
    flex-grow: 1;
}

.seven_box .img_box {
    display: block;
    width: 22px;
}

.seven_box ul li .temp_box {
    font-size: 11px;
    color: #fff;
}

.seven_box ul li .text_box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.seven_box ul li .day_box {
    font-size: 11px;
    font-weight: 600;
    color: #b3b3b3;
}

.weather_box_cover .seven_box {
    border-top: 1px solid #666666;
    padding-top: 20px;
    margin-top: 8px;
}

.modal-dialog-centered {
    height: 100vh;
    display: flex;
    align-items: center;
}


.loader_box_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 175, 246, 0.98);
    z-index: 9999999;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_box_cover .lotti_box {
    max-width: 200px;
}


.ask_btn {
    margin-top: 50px;
}

/* responsive */


@media screen and (max-width:768px) {

    .header_area {
        background-color: rgba(0, 0, 0, 0.1);
        height: auto;
        border: 0;
    }

    .header_area .navbar-brand {
        max-width: 115px;
    }

    .weather_box_cover .list_box li .box img {
        height: 28px;
    }

    .weather_box_cover .list_box li {
        font-size: 14px;
        padding: 2px;
    }

    .dorne-welcome-area {
        height: auto;
        padding: 112px 0 20px;
    }

    .seven_box ul {
        gap: 5px;
    }

    .seven_box ul li {
        padding: 4px 5px;
    }

    .navbar-toggler {
        margin: 11px 0;
    }

    .navbar {
        padding: .5rem 0;
    }

    .ask_btn {
        margin-top: 11px;
    }

    .weather_box_cover {
        margin-bottom: 8px;
    }

}