.hide_me {
    display: none;
}


.weather_box_cover .list_box li {
    color: #fff;
    font-size: 30px;
    flex-grow: 1;
    padding: 0 11px;
}

.weather_box_cover {
    margin-bottom: 35px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.weather_box_cover .list_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weather_box_cover .list_box li span {
    display: block;
    font-size: 14px;
    color: #b7b7b7;
}

.weather_box_cover .list_box li .box img {
    max-width: 75px;
    height: 55px;
}

.img-res {
    max-width: 100%;
}

.header_area .navbar-brand {
    max-width: 188px;
}

.city_box_cover {
    margin-bottom: 20px;
}

.city_box_cover h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.city_box_cover i {
    color: #16aff6;
    margin-right: 8px;
    font-size: 22px;
}

.mrbing_box {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}