.hide_me {
    display: none;
}


.weather_box_cover .list_box li {
    color: #fff;
    font-size: 30px;
    flex-grow: 1;
    padding: 0 11px;
}

.weather_box_cover {
    margin-top: 35px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.weather_box_cover .list_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weather_box_cover .list_box li span {
    display: block;
    font-size: 14px;
    color: #b7b7b7;
}

.weather_box_cover .list_box li .box img {
    max-width: 75px;
    height: 55px;
}